<div style="padding-top: 45px;">
    <div class="row" style="height: 100%">
        <div class="col-md-2" style="padding-right: 0px">
            <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
            <div id="sidebar" class="well sidebar-nav">
                <h5><i class="glyphicon glyphicon-align-justify"></i>
                    <small><b>MENÚ DE OPCIONES</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked" style="padding-left:0px ">
                    <li class="optionMenu">
                        <button type="button" class="btn btn-warning btn-block" id="opSignosVitales" style="text-align: left">
                            <i class="fa fa-stethoscope fa-lg pull-right"></i>
                            SIGNOS VITALES
                        </button>
                    </li>
                    <li class="optionMenu">
                        <button type="button" class="btn btn-warning btn-block" id="opNotasEnfermeria" style="text-align: left">
                            <span class="glyphicon glyphicon-list-alt pull-right"></span>
                            NOTAS ENFERMERIA
                        </button>
                    </li>
                    <li class="optionMenu">
                        <button type="button" class="btn btn-warning btn-block" id="opNotasEvolucion" style="text-align: left">
                            <span class="fa fa-user-md fa-lg pull-right"></span>
                            NOTAS EVOLUCIÓN
                        </button>
                    </li>
                    <li class="optionMenu">
                        <button type="button" class="btn btn-warning btn-block" id="opRecetario" style="text-align: left">
                            <span class="glyphicon glyphicon-list-alt pull-right"></span>
                            RECETARIO
                        </button>
                    </li>
                    <li class="optionMenu">
                        <button type="button" class="btn btn-warning btn-block" id="opExamenCardiologico" style="text-align: left">
                            <span class="fa fa-heartbeat fa-lg pull-right"></span>
                            E. CARDIOLOGICO
                        </button>
                    </li>
                    <li class="optionMenu">
                        <button type="button" class="btn btn-warning btn-block" id="opProtocoloOperacion" style="text-align: left">
                            <span class="fa fa-medkit fa-lg pull-right"></span>
                            PROTO. OPERATORIO
                        </button>
                    </li>
                    <li class="optionMenu">
                        <button type="button" class="btn btn-warning btn-block" id="opEpicrisis" style="text-align: left">
                            <span class="glyphicon glyphicon-list-alt pull-right"></span>
                            EPICRISIS
                        </button>
                    </li>

                </ul>
                <h5><i class="glyphicon glyphicon-user"></i>
                    <small><b>REGRESAR</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="optionMenu">
                        <%= link_to 'MENÚ PRINCIPAL', ingresos_path, class:'btn btn-warning btn-block', style:'text-align: left' %>
                            <!--<button type="button" class="btn btn-warning btn-block" style="text-align: left" >
                            <span class="glyphicon glyphicon-arrow-left pull-right"></span>
                            MENÚ PRINCIPAL
                        </button>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <!--PANEL PARA MOSTRAR LA INFORMACIÓN DEL PACIENTE-->
            <div id="informacionPaciente">
                <div class="alert alert-warning" style="margin-top:5px; margin-bottom: 10px">
                    <div class="header-pnl-consultas">
                        <p style="padding-top: 6px; padding-bottom: 5px;">INFORMACIÓN DEL PACIENTE HOSPITALIZADO</p>
                    </div>
                    <div class="body-pnl-consultas">
                        <div class="col" style="margin-top: 10px; margin-bottom: 10px">
                            <div class="row">
                                <div class="col-md-2" style="margin-left:20px">
                                    <div class="etiqueta">HISTORIA CLÍNICA:</div>
                                </div>
                                <div class="col-md-1">
                                    <div class="etiquetaValor">
                                        <%= @paciente.Pac_HC%>
                                    </div>
                                </div>
                                <div class="col-md-1" style="margin-left:20px">
                                    <div class="etiqueta">NOMBRES:</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="etiquetaValor">
                                        <%= @paciente.Pac_Apellido_Paterno%> <%= @paciente.Pac_Apellido_Materno%> <%=@paciente.Pac_Nombres%>
                                    </div>
                                </div>
                                <div class="col-md-1" style="margin-left:20px">
                                    <div class="etiqueta">EDAD:</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="etiquetaValor">
                                        <%= @paciente.Edad %> AÑOS
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2" style="margin-left:20px">
                                    <div class="etiqueta">IDENTIFICACIÓN:</div>
                                </div>
                                <div class="col-md-1">
                                    <div class="etiquetaValor">
                                        <%= @paciente.Pac_Cedula%>
                                    </div>
                                </div>
                                <div class="col-md-1" style="margin-left:20px">
                                    <div class="etiqueta">DETALLE:</div>
                                </div>
                                <div class="col-md-7">
                                    <div class="etiquetaValor">
                                        <%= @infoIngreso.Pop_Cirugia_Propuesta%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--PANEL PARA LAS NOTAS DE ENFERMERÍA-->
            <div id="notasEnfermeria">
                <div class="panel-success panel">
                    <div class="panel-heading">NOTAS DE ENFERMERIA</div>
                    <div class="panel-body scroll-panelNotas" id="pnlNotasEnfermeria">
                        <div class="panel-group pnlNotasEnfermeria " id="accordion">
                            <% @notasDeEnfermeria.each do |nota| %>
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNE<%=nota.enfermeria_nota_id%>">Fecha: <%= nota.Nde_Fecha%>    Hora:<%= nota.Nde_Hora.strftime('%r')%></a>
                                        </h4>
                                    </div>
                                    <div id="collapseNE<%=nota.enfermeria_nota_id%>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <%= simple_format(nota.Nde_Nota)%>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12" style="text-align: right; color: #1976d2; font-size: 12px">
                                                    <strong>Responsable:</strong> <%=nota.Per_Apellido_Paterno%> <%=nota.Per_Nombres%>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            
                            <%end%>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalEnfermeriaNota">Añadir Nota
                        </button>
                    </div>
                </div>
            </div>
            <!--PANEL PARA NOTAS DE EVOLUCIÓN-->
            <div id="notasEvolucion">
                <div class="panel-success panel">
                    <div class="panel-heading">NOTAS EVOLUCIÓN</div>
                    <div class="panel-body scroll-panelNotas" id="pnlNotasEvolucion">                        
                        <div class="panel-group pnlNotasEvolucion" id="accordion">
                            <% @notasEvolucion.each do |notaEvolucion|%>
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNE<%=notaEvolucion.nota_id%>">Fecha: <%= notaEvolucion.Not_Fecha%>    Hora:<%= notaEvolucion.Not_Hora.strftime('%r')%></a>
                                        </h4>
                                    </div>
                                    <div id="collapseNE<%=notaEvolucion.nota_id%>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                               <div class="col-lg-12" style="color:#8a6d3b">
                                                    NOTA DE <%=notaEvolucion.Not_Tipo%>
                                                </div> 
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <%= simple_format(notaEvolucion.Not_Nota)%>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12" style="text-align: right; color: #1976d2; font-size: 12px">
                                                    <strong>Responsable:</strong> 
                                                    <% notaEvolucion.revisiones.each do |revision|%>
                                                        Dr.<%= revision.medico.persona.Per_Apellido_Paterno%> <%= revision.medico.persona.Per_Nombres%>,
                                                    <%end%>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>        
                            <%end%>                           
                        </div>

                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalNotaEvolucion">Añadir Nota
                        </button>
                    </div>
                </div>
            </div>
            <!--PANEL PARA SGNOS VITALES-->
            <div id="signosVitales">
                <div class="panel-success panel">
                    <div class="panel-heading">REGISTRO DE SIGNOS VITALES</div>
                    <div class="panel-body scroll-panelNotas" id="pnlSignosVitales">
                        <table class="table dt-responsive no-wrap table-hover" width="100%">
                            <thead style="font-size: 14px;">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Internación <br> Dia</th>
                                    <th>PostQuirurgico <br>Día  </th>
                                    <th>Peso<div style="font-size: 10px; text-align: center">(Kg)</div></th>
                                    <th>Pulso<div style="font-size: 10px; text-align: center">(x min)</div></th>
                                    <th>Temperatura<div style="font-size: 10px; text-align: center">(°C)</div></th>
                                    <th>Saturación<div style="font-size: 10px; text-align: center">(%)</div></th>
                                    <th>F. Respiratoria<div style="font-size: 10px; text-align: center">(x min)</div></th>    
                                    <th>Presión <br> Arterial</th>
                                    <th>Balance<br>Hidrico</th>
                                    <th>Mediciones<br>Actividades</th>
                                    <th>Responsable</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center; font-size: 13px" id="tblBodySignosVitales">
                                <% @signosVitalesRegistrados.each do |signos| %>
                                <tr>
                                    <td><%= signos.Siv_Fecha %></td>
                                    <td><%= signos.Siv_Hora.strftime('%H:%M') %></td>
                                    <td><%= signos.Siv_Dia_Internacion %></td>
                                    <td><%= signos.Siv_Dia_PostQuirurgico %></td>
                                    <td><%= signos.Siv_Peso %></td>
                                    <td><%= signos.Siv_Pulso %></td>
                                    <td><%= signos.Siv_Temperatura %></td>
                                    <td><%= signos.Siv_Saturacion %></td>
                                    <td><%= signos.Siv_Frecuencia_Respiratoria %></td>
                                    <td><%= signos.Siv_Presion_Arterial_Diastolica%>/<%= signos.Siv_Presion_Arterial_Sistolica%></td>                                
                                    <td>
                                        <!--BALANCE HIDRICO-->
                                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalSignos<%=signos.signos_vitale_id%>">Ver
                                        </button>
                                        <div class="modal fade" id="modalSignos<%=signos.signos_vitale_id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header" style="background-color: #66bb6a">
                                                    <h5 class="modal-title" id="titleSuccess" style="color: #fff">BALANCE HIDRICO</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table dt-responsive no-wrap" width="100%">
                                                        <tbody style="font-size: 14px">
                                                            <tr style="background-color: #1976d2; color:#fff">
                                                                <th  colspan="4">INGRESOS CC</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Parental</th>
                                                                <th>Via Oral</th>
                                                                <th colspan="2" style="text-align: right">Total</th>
                                                            </tr>
                                                            <tr>
                                                                <td><%= signos.Siv_Ingresos_Parenteral %></td>
                                                                <td><%= signos.Siv_Ingresos_ViaOral %></td>
                                                                <td colspan="2" style="text-align: right"><%= signos.Siv_Ingresos_Total%></td>
                                                            </tr>
                                                            <tr style="background-color: #f44336; color:#fff">
                                                                <th  colspan="4">ELIMINACIONES cc</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Orina</th>
                                                                <th>Drenaje</th>
                                                                <th>Otros</th>
                                                                <th style="text-align: right">Total</th>
                                                            </tr>
                                                            <tr>
                                                                <td><%= signos.Siv_Eliminaciones_Orina%></td>
                                                                <td><%= signos.Siv_Eliminaciones_Drenaje%></td>
                                                                <td><%= signos.Siv_Eliminaciones_Otros%></td>
                                                                <td style="text-align: right"><%= signos.Siv_Eliminaciones_Total%></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">ACEPTAR</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    

                                    </td>
                                    <td>
                                        <!--MEDICIONES Y ACTIVIDADES-->
                                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalMediciones<%=signos.signos_vitale_id%>">Ver
                                        </button>
                                        <div class="modal fade" id="modalMediciones<%=signos.signos_vitale_id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header" style="background-color: #66bb6a">
                                                    <h5 class="modal-title" id="titleSuccess" style="color: #fff">MEDICIONES Y ACTIVIDADES</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table dt-responsive no-wrap" width="100%">
                                                        <tbody style="font-size: 14px">
                                                            <tr>
                                                                <th>Número De Comidas</th>
                                                                <th>Número De Micciones</th>
                                                                <th>Número De Deposiciones</th>
                                                            </tr>
                                                            <tr>
                                                                <td><%= signos.Siv_Numero_Comidas %></td>
                                                                <td><%= signos.Siv_Numero_Micciones %></td>
                                                                <td><%= signos.Siv_Numero_Deposiciones%></td>
                                                            </tr>                                                            
                                                        </tbody>
                                                    </table>
                                                    <div class="row" style="text-align: left">
                                                        <div class="col-lg-12"><strong>Dieta Administrada:</strong> <%=signos.Siv_Dieta_Administrada%></div>
                                                    </div>
                                                    <div class="row" style="text-align: left">
                                                        <div class="col-lg-12"><strong>Actividades:</strong>                                                           
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                         <% if signos.Siv_Aseo!= "0" %>
                                                            <div class="col-lg-2">
                                                                Aseo/Baño
                                                            </div>                                    
                                                            
                                                            <%end%>
                                                            <% if signos.Siv_Actividad_Fisica!= "0" %>
                                                            <div class="col-lg-3">
                                                                Actividad Física
                                                            </div>                                    
                                                            
                                                            <%end%>
                                                            <% if signos.Siv_Cambio_Sonda!= "0" %>
                                                            <div class="col-lg-3">
                                                                Cambio de sonda
                                                            </div>                                    
                                                            
                                                            <%end%>
                                                            <% if signos.Siv_Recanalizacion_Via!= "0" %>
                                                            <div class="col-lg-3">
                                                                Recanalización de la vía
                                                            </div>                                    
                                                            
                                                            <%end%> 
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">ACEPTAR</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    

                                    </td>
                                    <td style="font-size: 10px; color: #1976d2"><%=signos.Per_Apellido_Paterno%> <%=signos.Per_Nombres%></td>

                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                       
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalSignosVitales">Registrar Signos Vitales
                        </button>
                    </div>
                </div>

            </div>
            <!--PANEL PARA EXAMEN CARDIOLOGICO-->
            <div id="examenCardiologico">
                <div class="panel-success panel">
                    <div class="panel-heading">REGISTRO DE EXAMENES CARDIOLÓGICOS</div>
                    <div class="panel-body scroll-panelNotas" id="pnlExameCardiologico">
                        <div class="panel-group pnlExameCardiologico" id="accordion">
                            <% @eCardiologicos.each do |examen| %>
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNE<%=examen.chequeos_cardiologico_id%>">Fecha: <%= examen.Chc_Fecha%>    Hora:<%= examen.Chc_Hora.strftime('%r')%></a>
                                        </h4>
                                    </div>
                                    <div id="collapseNE<%=examen.chequeos_cardiologico_id%>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row" style="color: #1976d2">
                                                <div class="col-lg-3"><strong>EXAMEN FÍSICO</strong></div>
                                            </div>
                                            <div class="row">                                                
                                                <div class="col-lg-10">
                                                    <%= simple_format(examen.Chc_Examen_Fisico)%>
                                                </div>
                                            </div>
                                            <div class="row" style="color: #1976d2">
                                                <div class="col-lg-3"><strong>ELECTROCARDIOGRAMA</strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-1"><strong>Ritmo:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Ritmo%>
                                                </div>
                                                <div class="col-lg-2"><strong>Frecuencia:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Frecuencia%>
                                                </div>
                                                <div class="col-lg-2"><strong>SAQRS:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_SAQRS%>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-1"><strong>Onda P:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Onda_P%>
                                                </div>
                                                <div class="col-lg-2"><strong>Segmento PR:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Segmento_PR%>
                                                </div>
                                                <div class="col-lg-2"><strong>Complejo QRS:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Complejo_QRS%>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-1"><strong>Onda T:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Onda_T%>
                                                </div>
                                                <div class="col-lg-2"><strong>Signo Morris:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Signo_Morris%>
                                                </div>
                                                <div class="col-lg-2"><strong>Segmento QT:</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Segmento_QT%>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-1"><strong>Indice Sokolov</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Indice_SOCOLOV%>
                                                </div>
                                                <div class="col-lg-2"><strong>Segmento ST</strong></div>                                              
                                                <div class="col-lg-2">
                                                    <%=examen.Chc_Segmento_ST%>
                                                </div>
                                            </div>
                                            <div class="row" style="color: #1976d2">
                                                <div class="col-lg-3"><strong>CONCLUSIONES</strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <%= simple_format(examen.Chc_Conclusiones)%>
                                                </div>
                                            </div>
                                            <div class="row" style="color: #1976d2">
                                                <div class="col-lg-3"><strong>SUGERENCIAS</strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <%= simple_format(examen.Chc_Sugerencias)%>
                                                </div>
                                            </div>
                                            <div class="row" style="color: #1976d2">
                                                <div class="col-lg-3"><strong>RIESGO QUIRÚRGICO</strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <%= simple_format(examen.Chc_Riesgo_Quirurgico)%>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12" style="text-align: right; color: #1976d2; font-size: 12px">
                                                    <strong>Responsable:</strong> <%=examen.Per_Apellido_Paterno%> <%=examen.Per_Nombres%>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>

                            <% end %>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalECardiologico">Registrar Examen Cardiologico
                        </button>
                    </div>
                </div>
            </div>
            <!--PANEL PARA PROTOCOLO DE OPERACION-->
            <div id="protocoloOperacion">
                <div class="panel-success panel">
                    <div class="panel-heading">PROTOCOLO DE OPERACIÓN</div>
                    <div class="panel-body scroll-panelNotas" id="pnlProtocoloOperacion">
                        <%= render 'frmProtocoloOperacion', protocolo: @protocolo %>
                    </div>
                    <%if @protocolo.protocolo_operacion_id != "" %>
                        <div class="panel-footer" style="text-align: right">                   
                            <button class="btn btn-primary" id="btnEditarProtocolo" >Editar
                            </button>                    
                        </div>
                    <%end%>
                </div>
                 

            </div>
            <!--PANEL PARA EPICRISIS-->
            <div id="epicrisis">
                <div class="panel-success panel">
                    <div class="panel-heading">EPICRISIS</div>
                    <div class="panel-body scroll-panelNotas" id="pnlProtocoloOperacion">
                        <%= render 'frmEpicrisis', epicrisis: @epicrisis %>
                    </div>
                    <%if @epicrisis.epicrisi_id != "" || @epicrisis.epicrisi_id!=nil %>
                         <div class="panel-footer" style="text-align: right">                   
                            <button class="btn btn-primary" id="btnEditarEpicrisis" >Editar
                            </button>                    
                        </div>
                    <%end%>
                </div>
            </div>
            <!--PANEL PARA RECETA MEDICA-->
            <div id="recetario">
                <div class="panel-success panel">
                    <div class="panel-heading">RECETA E INDICACIONES</div>
                    <div class="panel-body scroll-panelNotas">
                        <div class="panel panel-success" id="pnlRecetaMedicaIngreso">
                            <div class="panel-heading">RECETA MÉDICA</div>
                            <div class="panel-body">
                                <div class="row" style="text-align: center; color:#1976d2">
                                    <div class="col-lg-6"><strong> Medicamentos</strong></div>
                                    <div class="col-lg-6"><strong> Indicaciones</strong></div>
                                </div>
                                <ol id="prescripcionIngreso1">
                                </ol>
                                <div id="prescripcionIngreso2"></div>                            
                            </div>
                        </div>

                        <div class="panel panel-success" id="pnlTerapiaIngreso">
                            <div class="panel-heading">TERAPIA</div>
                            <div class="panel-body">
                                <ul id="terapiaIngreso1">
                                </ul>
                                <div id="terapiaIngreso2"></div>                     
                            </div>
                        </div>  
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalReceta">Añadir Medicamento</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalTerapia">Registrar Terapia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- **************************** MODALS *******************************-->
<!--INGRESAR NOTA ENFERMERIA-->
<div class="modal fade" id="modalEnfermeriaNota" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2">REGISTRAR NOTA DE ENFERMERÍA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <%= render 'frmNotaEnfermeria' %>
            </div>
        </div>
    </div>
</div>

<!--INGRESAR NOTA EVOLUCION -->
<div class="modal fade" id="modalNotaEvolucion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2">REGISTRAR NOTA DE EVOLUCIÓN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= render 'frmNotaEvolucion' %>
            </div>
        </div>
    </div>
</div>

<!--INGRESAR SIGNOS VITALES -->
<div class="modal fade" id="modalSignosVitales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 1000px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2; font-weight: 600">REGISTRAR SIGNOS VITALES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= render 'frmSignosVitales' %>
            </div>
        </div>
    </div>
</div>

<!--INGRESAR EXAMEN CARDIOLOGICO-->
<div class="modal fade" id="modalECardiologico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2">REGISTRAR EXAMEN CARDIOLÓGICO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= render 'frmExamenCardiologico' %>
            </div>
        </div>
    </div>
</div>
<!--INGRESAR RECETA MEDICA-->
<div class="modal fade" id="modalReceta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2">AÑADIR MEDICAMENTO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= render 'frmRecetario' %>
            </div>
        </div>
    </div>
</div>

<!--INGRESAR TERAPIA-->
<div class="modal fade" id="modalTerapia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1976d2">REGISTRAR TERAPIA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= render 'frmTerapiaIngreso' %>
            </div>
        </div>
    </div>
</div>

<!-- *********************    MENSAJES DE LA APLICACION PARA EL USUARIO      *******************-->
<!--MODAL ERROR-->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f44336">
        <h5 class="modal-title" id="titleError" style="color: #fff"></h5>
      </div>
      <div class="modal-body" id="bodyError">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL SUCCESS-->
<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #66bb6a">
        <h5 class="modal-title" id="titleSuccess" style="color: #fff">ÉXITO</h5>
      </div>
      <div class="modal-body" id="bodySuccess">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>
