<div style="width:80%; margin:0 auto;">
    <h1><%= @article.titulo%></h1>
    <% unless @article.user.nil? %>
        <div>
            <h3>Escrito por <%=@article.user.email%></h3>
        </div>
    <%end%>
    <div>
        <p>Visitas: <%= @article.visita %></p>
    </div>
    <div>
        <p><%= @article.cuerpo%></p>
    </div>
    <div class="field">
        <h3>Comentarios</h3>
        <%= render "comentarios/form" %>
        <ul id="comentarios-box">
            <% @article.comentarios.each do |comentario| %>
                <li>
                    <%= comentario.cuerpo %> - <%= comentario.user.email%>
                </li>
            <%end%>
        </ul>
    </div>
    <div>
        <%= link_to "Editar", edit_article_path(@article) %>
    </div>
</div>
