<p id="notice">
  <%= notice %>
</p>

<h1>Citas</h1>
<label for="perfil">ESPECIALISTA</label>
<div class="row">
  <%= form_for :cita, url:citas_path(format: 'json'), method: :get do |f| %>
      <div class="col-md-3">
        <div class="form-group">
          <%= f.collection_select :medico_id, @especialistas, :medico_id, :Nombre,{prompt: "Seleccione"},{ :class => 'form-control'} %>
        </div>
      </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= button_tag type: 'submit', class: "btn btn-primary", id: "register-button" do %>
              <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Buscar
              <% end %>
          </div>
        </div>
    <% end %>
</div>

<div class="row" style="margin-left:20px; margin-top:10px">
  <div class=".col-xs-6">
    <%= link_to new_cita_path, class:"btn btn-primary pull-right" do %>
      <i class="glyphicon glyphicon-plus"></i> AGENDAR CITA
      <% end %>
  </div>
</div>
</br>

<div class="calendar"></div>