<p id="notice"><%= notice %></p>

<h1>Citas</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Empleado</th>
      <th>Medico</th>
      <th>Cit fecha</th>
      <th>Cit hora</th>
      <th>Cit motivo</th>
      <th>Cit estado</th>
      <th>Cit observacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citas.each do |cita| %>
      <tr>
        <td><%= cita.paciente_id %></td>
        <td><%= cita.empleado_id %></td>
        <td><%= cita.medico_id %></td>
        <td><%= cita.Cit_Fecha %></td>
        <td><%= cita.Cit_Hora %></td>
        <td><%= cita.Cit_Motivo %></td>
        <td><%= cita.Cit_Estado %></td>
        <td><%= cita.Cit_Observacion %></td>
        <td><%= link_to 'Show', cita %></td>
        <td><%= link_to 'Edit', edit_cita_path(cita) %></td>
        <td><%= link_to 'Destroy', cita, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cita', new_cita_path %>
