<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @cita.paciente_id %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @cita.empleado_id %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @cita.medico_id %>
</p>

<p>
  <strong>Cit fecha:</strong>
  <%= @cita.Cit_Fecha %>
</p>

<p>
  <strong>Cit hora:</strong>
  <%= @cita.Cit_Hora %>
</p>

<p>
  <strong>Cit motivo:</strong>
  <%= @cita.Cit_Motivo %>
</p>

<p>
  <strong>Cit estado:</strong>
  <%= @cita.Cit_Estado %>
</p>

<p>
  <strong>Cit observacion:</strong>
  <%= @cita.Cit_Observacion %>
</p>

<%= link_to 'Edit', edit_cita_path(@cita) %> |
<%= link_to 'Back', citas_path %>
