<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
      <table class="table table-bordered">

        <tbody>
          <tr>
              <td rowspan="3" colspan="3" style="width: 14%" align="center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" height="42%">
              </td>
              <td>
                <p>Apellido Paterno:</p>
              </td>
              <td>
                <%= f.text_field :PAC_APELLIDO_PATERNO %>
              </td>
              <td>
                <p>Cédula</p>
              </td>
              <td>
                <%= f.text_field :PAC_CEDULA %>
              </td>
          </tr>
          <tr>
              <td>
            <p>Apellido Materno:</p>
            </td>
            <td>
              <%= f.text_field :PAC_APELLIDO_MATERNO %>
            </td>
            <td>
              <p>Fecha de Nacimiento:</p>
            </td>
            <td>
              <%= f.date_select :PAC_FECHA_NACIMIENTO %>
            </td>
          </tr>
          <tr>
              <td>
              <p>Nombre:</p>
              </td>
              <td>
                <%= f.text_field :PAC_NOMBRES %>
              </td>
              <td>
                <p>Teléfono:</p>
              </td>
              <td>
                <%= f.text_field :PAC_TELEFONO %>
              </td>
          </tr>
        </tbody>
        <!--
        <tr>
          <td>
            <p>Apellido Paterno:</p>
          </td>
          <td>
            <%= f.text_field :PAC_APELLIDO_PATERNO %>
          </td>
          <td>
            <p>Cédula</p>
          </td>
          <td>
            <%= f.text_field :PAC_CEDULA %>
          </td>
        </tr>

        <tr>
          <td>
            <p>Apellido Materno:</p>
          </td>
          <td>
            <%= f.text_field :PAC_APELLIDO_MATERNO %>
          </td>
          <td>
            <p>Fecha de Nacimiento:</p>
          </td>
          <td>
            <%= f.date_select :PAC_FECHA_NACIMIENTO %>
          </td>
        </tr>

        <tr>
          <td>
            <p>Nombre:</p>
          </td>
          <td>
            <%= f.text_field :PAC_NOMBRES %>
          </td>
          <td>
            <p>Teléfono:</p>
          </td>
          <td>
            <%= f.text_field :PAC_TELEFONO %>
          </td>
        </tr>

        !-->

        <!--<tr>
          <td>
            <p>Fecha de Nacimiento:</p>
          </td>
          <td>
            <%= f.date_select :PAC_FECHA_NACIMIENTO %>
          </td>
        </tr>!-->

        <!--<tr>
          <td>
            <p>Nacionalidad:</p>
          </td>
          <td>
            <%= f.text_field :PAC_NACIONALIDAD %>
          </td>
        </tr>

        <tr>
          <td>
            <p>Género:</p>
          </td>
          <td>
            <%= f.text_field :PAC_GENERO %>
          </td>
        </tr>

        <tr>
          <td>
            <p>Estado Civil:</p>
          </td>
          <td>
            <%= f.text_field :PAC_ESTADO_CIVIL %>
          </td>
        </tr>

        <tr>
          <td>
            <p>Instrucción:</p>
          </td>
          <td>
            <%= f.text_field :PAC_INSTRUCCION %>
          </td>
        </tr>

        <tr>
          <td>
            <p>Ocupación:</p>
          </td>
          <td>
            <%= f.text_field :PAC_OCUPACION %>
          </td>
        </tr>!-->

        <!--<tr>
          <td>
            <p>Teléfono:</p>
          </td>
          <td>
            <%= f.text_field :PAC_TELEFONO %>
          </td>
        </tr>!

        <tr>
          <td>
            <p>Grupo Sanguíneo:</p>
          </td>
          <td>
            <%= f.text_field :PAC_GRUPO_SANGUINEO %>
          </td>
        </tr>!-->
      </table>
    <div class="actions">
      <%= f.submit "GUARDAR" %>
    </div>
  </div>

  <!--<div class="field">
    <label class="title"> Cedula:</label>
    <%= f.label :PAC_HC %>
    <%= f.text_field :PAC_HC %>
  </div>

  <div class="field">
    <%= f.label :PAC_CEDULA %>
    <%= f.text_field :PAC_CEDULA %>
  </div>

  <div class="field">
    <%= f.label :PAC_APELLIDO_PATERNO %>
    <%= f.text_field :PAC_APELLIDO_PATERNO %>
  </div>

  <div class="field">
    <%= f.label :PAC_APELLIDO_MATERNO %>
    <%= f.text_field :PAC_APELLIDO_MATERNO %>
  </div>

  <div class="field">
    <%= f.label :PAC_NOMBRES %>
    <%= f.text_field :PAC_NOMBRES %>
  </div>

  <div class="field">
    <%= f.label :PAC_FECHA_NACIMIENTO %>
    <%= f.date_select :PAC_FECHA_NACIMIENTO %>
  </div>

  <div class="field">
    <%= f.label :PAC_NACIONALIDAD %>
    <%= f.text_field :PAC_NACIONALIDAD %>
  </div>

  <div class="field">
    <%= f.label :PAC_GENERO %>
    <%= f.text_field :PAC_GENERO %>
  </div>

  <div class="field">
    <%= f.label :PAC_ESTADO_CIVIL %>
    <%= f.text_field :PAC_ESTADO_CIVIL %>
  </div>

  <div class="field">
    <%= f.label :PAC_INSTRUCCION %>
    <%= f.text_field :PAC_INSTRUCCION %>
  </div>

  <div class="field">
    <%= f.label :PAC_OCUPACION %>
    <%= f.text_field :PAC_OCUPACION %>
  </div>

  <div class="field">
    <%= f.label :PAC_TELEFONO %>
    <%= f.text_field :PAC_TELEFONO %>
  </div>

  <div class="field">
    <%= f.label :PAC_GRUPO_SANGUINEO %>
    <%= f.text_field :PAC_GRUPO_SANGUINEO %>
  </div>

  <div class="field">
    <%= f.label :FECHA_CREACION %>
    <%= f.datetime_select :FECHA_CREACION %>
  </div>

  <div class="field">
    <%= f.label :FECHA_ACTUALIZACION %>
    <%= f.datetime_select :FECHA_ACTUALIZACION %>
  </div>

  <div class="field">
    <%= f.label :ID_USUARIO_CREACION %>
    <%= f.number_field :ID_USUARIO_CREACION %>
  </div>!-->
<% end %>
