<p id="notice"><%= notice %></p>

<p>
  <strong>Pac hc:</strong>
  <%= @patient.PAC_HC %>
</p>

<p>
  <strong>Pac cedula:</strong>
  <%= @patient.PAC_CEDULA %>
</p>

<p>
  <strong>Pac apellido paterno:</strong>
  <%= @patient.PAC_APELLIDO_PATERNO %>
</p>

<p>
  <strong>Pac apellido materno:</strong>
  <%= @patient.PAC_APELLIDO_MATERNO %>
</p>

<p>
  <strong>Pac nombres:</strong>
  <%= @patient.PAC_NOMBRES %>
</p>

<p>
  <strong>Pac fecha nacimiento:</strong>
  <%= @patient.PAC_FECHA_NACIMIENTO %>
</p>

<p>
  <strong>Pac nacionalidad:</strong>
  <%= @patient.PAC_NACIONALIDAD %>
</p>

<p>
  <strong>Pac genero:</strong>
  <%= @patient.PAC_GENERO %>
</p>

<p>
  <strong>Pac estado civil:</strong>
  <%= @patient.PAC_ESTADO_CIVIL %>
</p>

<p>
  <strong>Pac instruccion:</strong>
  <%= @patient.PAC_INSTRUCCION %>
</p>

<p>
  <strong>Pac ocupacion:</strong>
  <%= @patient.PAC_OCUPACION %>
</p>

<p>
  <strong>Pac telefono:</strong>
  <%= @patient.PAC_TELEFONO %>
</p>

<p>
  <strong>Pac grupo sanguineo:</strong>
  <%= @patient.PAC_GRUPO_SANGUINEO %>
</p>

<p>
  <strong>Fecha creacion:</strong>
  <%= @patient.FECHA_CREACION %>
</p>

<p>
  <strong>Fecha actualizacion:</strong>
  <%= @patient.FECHA_ACTUALIZACION %>
</p>

<p>
  <strong>Id usuario creacion:</strong>
  <%= @patient.ID_USUARIO_CREACION %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
