<p id="notice"><%= notice %></p>

<p>
  <strong>Nro. Hostoria Clínica:</strong>
  <%= @patient.PAC_HC %>
</p>

<p>
  <strong>Cédula:</strong>
  <%= @patient.PAC_CEDULA %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @patient.PAC_APELLIDO_PATERNO %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @patient.PAC_APELLIDO_MATERNO %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @patient.PAC_NOMBRES %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @patient.PAC_FECHA_NACIMIENTO %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @patient.PAC_NACIONALIDAD %>
</p>

<p>
  <strong>Género:</strong>
  <%= @patient.PAC_GENERO %>
</p>

<p>
  <strong>Estado Civil:</strong>
  <%= @patient.PAC_ESTADO_CIVIL %>
</p>

<p>
  <strong>Instrucción:</strong>
  <%= @patient.PAC_INSTRUCCION %>
</p>

<p>
  <strong>Ocupación:</strong>
  <%= @patient.PAC_OCUPACION %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @patient.PAC_TELEFONO %>
</p>

<p>
  <strong>Grupo Sanguíneo:</strong>
  <%= @patient.PAC_GRUPO_SANGUINEO %>
</p>

<!--
  <strong>Fecha creacion:</strong>
  <%= @patient.FECHA_CREACION %>
</p>

<p>
  <strong>Fecha actualizacion:</strong>
  <%= @patient.FECHA_ACTUALIZACION %>
</p>

<p>
  <strong>Id usuario creacion:</strong>
  <%= @patient.ID_USUARIO_CREACION %>
</p>!-->

<%= link_to 'EDITAR', edit_patient_path(@patient) %> |
<%= link_to 'ATRAS', patients_path %>
