<%= form_for(@persona, url: empleados_path, validate: true) do |f| %>
  <!--<% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
        <% @persona.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>!-->
    <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
            <label for="cedula">Cédula</label>
            <%= f.text_field :Per_Cedula, class:'form-control', id:'cedula',placeholder:'Cédula' %>
          </div>
        </div>
        <%= f.fields_for :empleado do |emp| %>
          <div class="col-lg-5">
            <div class="form-group">
              <label for="rol">Cargo</label>
              <%= emp.text_field :Emp_Rol, class:'form-control', id:'rol',placeholder:'Cargo' %>
            </div>
          </div>
        <%end%>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <%= f.text_field :Per_Apellido_Paterno, class:'form-control', id:'apellidoPaterno',placeholder:'Apellido Paterno' %>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="form-group">
            <label for="apellidoMaterno">Apellido Materno</label>
            <%= f.text_field :Per_Apellido_Materno, class:'form-control', id:'apellidoMaterno',placeholder:'Apellido Materno' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <%= f.text_field :Per_Nombres, class:'form-control', id:'nombre',placeholder:'Nombre' %>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <%= f.text_field :Per_Telefono, class:'form-control', id:'telefono',placeholder:'Teléfono' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <div>
              <%= f.date_select :Per_Fecha_Nacimiento,:start_year => Date.current.year, :end_year => 1920,
             :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], 
             class:'form-control selectpicker',id:'fechaNacimiento' %>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <div class="actions">
            <%= f.submit "Guardar", class:"btn btn-primary  btn-block" %>
          </div>
        </div>
        <div class="col-md-3">
          <%= link_to 'Cancelar', empleados_path, class:"btn btn-primary center-block" %>
        </div>
        <div class="col-md-4"></div>
      </div>
  <% end %>