<p id="notice"><%= notice %></p>
<div class='row' style="margin-left:20px">
  <h1>Empleados</h1>
</div>
<div class="row" style="margin-left:20px; margin-top:10px">
  <div class="col-md-2">
    <%= link_to 'Agregar', new_empleado_path, class:"btn btn-primary center-block" %>
  </div>
</div>
<div class='row' style="margin-left:20px; margin-top:10px">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cédula</th>
        <th>Apellido Paterno</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @empleados.each do |persona| %>
        <tr>
          <td><%= persona.Per_Cedula %></td>
          <td><%= persona.Per_Apellido_Paterno %></td>
          <td><%= persona.Per_Nombres %></td>
          <td><%= persona.Per_Telefono %></td>
          <td><%= persona.Rol %></td>
          <td><%= link_to 'Show', persona %></td>
          <td><%= link_to 'Edit', edit_empleado_path(persona) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

