<!DOCTYPE html>
<html>

<head>
  <title>ToaSystem</title>

  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      
</head>
<body>
  <header>
    <nav class=" navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="titulo">
          <img src="/img/icon/clinicaTOA.png" alt="rss feed" width="7%" height="7%"/>
          <a class="navbar-brand" style="font-size: 45px">SISTEMA CLÍNICO</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><a>Usuario: <%=session[:persona]["Per_Apellido_Paterno"]%> <%=session[:persona]["Per_Apellido_Materno"]%> <%=session[:persona]["Per_Nombres"]%></a></li>
            <li><%= link_to  "Cerrar Sesión", logout_usuarios_path, method: :logout %></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Editar Perfil</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to  "Salir", logout_usuarios_path, method: :logout %></li>
              </ul>
            </li>-->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>

  <nav class="navbar-default sidebar " role="navigation">
    <div class="container-fluid" id="vertical_bar">
      <div class="navbar-header">
      </div>
      <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <%session[:menus].each do |menu| %>
            <% case menu["menu_nombre"]%>
              <% when 'Inicio' %>
                <li class="<%= yield(:inicio) %>">
                  <%= link_to root_path do %>Inicio
                    <img src="/img/icon/x16/home.png" alt="rss feed" class="pull-right"/>
                  <% end %>
                </li>
              <% when 'Citas' %>
                <li class="<%= yield(:citas) %>">
                  <%= link_to citas_path do %>Citas
                    <img src="/img/icon/x16/calendar.png" alt="rss feed" class="pull-right"/>
                  <% end %>
                </li>
              <% when 'Pacientes' %>
                <li class="<%= yield(:pacientes) %>">
                  <%= link_to pacientes_path do %>Pacientes
                    <img src="/img/icon/x16/network.png" alt="rss feed" class="pull-right"/>
                  <% end %>
                </li>
              <% when 'Consultas' %>
                <li class="<%= yield(:consultas) %>">
                  <%= link_to consultas_path do %>Consultas
                    <img src="/img/icon/x16/first-aid-kit.png" alt="rss feed" class="pull-right"/>
                  <% end %>
                </li>
              <% when 'Médicos' %>
                <li class="<%= yield(:medicos) %>">
                  <%= link_to personas_path do %>Médicos
                    <img src="/img/icon/x16/doctor.png" alt="rss feed" class="pull-right"/>
                  <% end %>
                </li>
              <% when 'Empleados' %>
                <li class="<%= yield(:empleados)%>">
                  <%= link_to indexEmpleado_personas_path do %>Empleados
                      <img src="/img/icon/x16/network.png" alt="rss feed" class="pull-right"/>
                  <% end %>
                </li>
              <% when 'Usuarios' %>
                <li class="<%= yield(:usuarios) %>">
                  <%= link_to usuarios_path do %>Usuarios
                      <img src="/img/icon/x16/team.png" alt="rss feed" class="pull-right"/>
                  <% end %>
                </li>
            <% end %>
                 
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  <div class="col-xs-10" style="margin-left:10">

    <%= yield %>

  </div>


</body>


</html>