<!DOCTYPE html>
<html>

<head>
  <title>ToaSystem</title>


  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav class=" navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div id="titulo">
          <img src="/img/icon/clinicaTOA.png" alt="rss feed" width="7%" height="7%"/>
          <a class="navbar-brand" style="font-size: 45px">SISTEMA CLÍNICO</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><a>Usuario: Diego Geovanny Alpala Cachiguango</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Editar Perfil</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Salir</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>


  </header>

  <nav class="navbar-default sidebar " role="navigation">
    <div class="container-fluid" id="vertical_bar">
      <div class="navbar-header">
      </div>
      <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li role="presentation" class="<%= yield(:home)%>">
            <%= link_to root_path do %>Inicio
              <img src="/img/icon/x16/home.png" alt="rss feed" class="pull-right"/>
            <% end %>
          </li>
          <li class="<%= yield(:usuarios)%>">
            <%= link_to usuarios_path, class:'dropdown-toggle' do %>Usuarios
            <span class="caret"></span><img src="/img/icon/x16/team.png" alt="rss feed" class="pull-right"/>
            
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="{{URL::to('createusuario')}}">Crear</a></li>
              <li><a href="#">Modificar</a></li>
              <li><a href="#">Reportar</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
            </ul>
            <% end %>
          </li>

          <li class="<%= %>">
            <%= link_to citas_path do %>Citas
              <img src="/img/icon/x16/calendar.png" alt="rss feed" class="pull-right"/>
            <% end %>
          </li>
          <li class="<%= yield(:index)%>">
            <%= link_to pacientes_path do %>Pacientes
              <img src="/img/icon/x16/network.png" alt="rss feed" class="pull-right"/>
            <% end %>
          </li>
          <li class="<%= %>">
            <%= link_to consultas_path do %>Consultas
              <img src="/img/icon/x16/first-aid-kit.png" alt="rss feed" class="pull-right"/>
            <% end %>
          </li>
          <li class="<%= yield(:indexEmpleado)%>">
            <%= link_to indexEmpleado_personas_path do %>Empleados
                <img src="/img/icon/x16/network.png" alt="rss feed" class="pull-right"/>
            <% end %>
          </li>
          <li class="<%= yield(:indexM) %>">
            <%= link_to personas_path do %>Médicos
              <img src="/img/icon/x16/doctor.png" alt="rss feed" class="pull-right"/>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="col-xs-10" style="margin-left:10">

    <%= yield %>

  </div>


</body>


</html>