<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <header>
      <nav class="be-red white large-padding">
        <ul class=" row center-xs middle-xs">
          <li class="col-md">
            <h1 class="no-margin" id="logo">Test</h1>
          </li>
          <li class="col-md">
            <%= link_to "Inicio", root_path %>
          </li>
           <li class="col-md">
            Dise침o
          </li>
           <li class="col-md">
            Programaci칩n
          </li>
           <li class="col-md">
            Ayuda
          </li>
          <% if user_signed_in? %>
            <li class="col-md">
                <%= link_to "Cerrar Sesi칩n", destroy_user_session_path, method: :delete%>
            </li>
          <%else%>
            <li class="col-md">
                <%= link_to "Iniciar Sesi칩n", new_user_session_path %>
            </li>
            <li class="col-md">
                <%= link_to "Crear Cuenta", new_user_registration_path %>
            </li>
          <%end%>

        </ul>
      
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
