<%= form_for @consulta, :url => { :action => "createConsulta" }, remote: true, html:{id: "consulta-form",format: :json} do |f| %>
    <div  style="margin-top: 10px">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" style="padding-right: 20px">
                        <label for="enfermedadActual">MOTIVO DE CONSULTA</label>
                        <%= f.text_field :Con_Motivo, class:'form-control', id:'enfermedadActual',placeholder:'Describa', style:'text-transform:none'%>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" style="padding-right: 20px">
                        <label for="enfermedadActual">ENFERMEDAD ACTUAL</label>
                        <%= f.text_area :Con_Cronologia, class:'form-control', id:'enfermedadActual',placeholder:'Describa los hallazgos, novedades', rows:'6'%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" style="padding-right: 20px">
                        <label for="diagnostico">DIAGNÓSTICO</label>
                        <%= f.text_area :Con_Diagnostico_Final, class:'form-control', id:'diagnostico',placeholder:'Diagnóstico Definitivo', rows:'3'%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group" style="padding-right: 20px">
                        <label for="diagnostico">CODIGO CIE</label>
                        <%= f.text_field :Con_Codigo_CIE, class:'form-control', id:'diagnostico',placeholder:'CIE'%>
                    </div>
                </div>
            </div>

             <div class="row">
                 <div class="col-lg-12">
                    <div class="form-group" style="padding-right: 20px">
                        <label for="diagnostico">OBSERVACIÓN</label>
                        <%= f.text_field :Con_Observacion, class:'form-control', id:'diagnostico',placeholder:'Detalle',style:'text-transform:none'%>
                    </div>
                 </div>
            </div>
           
            <div class="row">
                <div class="col-lg-4" >
                    <div class="actions">
                    <button type="submit" class="btn btn-primary" style="width: 200px">
                    <span><i class="glyphicon glyphicon-plus"></i> Guardar</span>
                    </button>
                </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px"></div>
            
       
        
        
    </div>

  

<% end %>