<% provide(:consultas, 'active') %>
<div class="alert alert-warning" role="alert" style="margin-top:50px">
  <div class="center-block" style="width: 80%">
    <div class="header-pnl-consultas">
      <p style="padding-top: 6px; padding-bottom: 5px;">INFORMACIÓN GENERAL DEL PACIENTE</p>
    </div>
    <div class="body-pnl-consultas">
      <div class="col" style="margin-top: 20px;">
        <div class="row">
          <div class="col-md-2" style="margin-left:20px">
            <div class="etiqueta">HISTORIA CLÍNICA</div>
          </div>
          <div class="col-md-2">
            <div class="etiquetaValor">
              <%=@paciente.Pac_HC%>
            </div>
          </div>
          <div class="col-md-3" style="margin-left:20px">
            <div class="etiqueta">NOMBRES Y APELLIDOS</div>
          </div>
          <div class="col-md-4">
            <div class="etiquetaValor">
              <%=@paciente.Pac_Apellido_Paterno+' '+@paciente.Pac_Apellido_Materno+' '+@paciente.Pac_Nombres%>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col-md-2" style="margin-left:20px">
            <div class="etiqueta">IDENTIFICACIÓN</div>
          </div>
          <div class="col-md-2">
            <div class="etiquetaValor">
              <%=@paciente.Pac_Cedula%>
            </div>
          </div>
          <div class="col-md-3" style="margin-left:20px">
            <div class="etiqueta">CONTACTO</div>
          </div>
          <div class="col-md-4">
            <div class="etiquetaValor">
              <%=@paciente.Pac_Telefono%>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col-md-2" style="margin-left:20px">
            <div class="etiqueta">GÉNERO</div>
          </div>
          <div class="col-md-2">
            <% if @paciente.Pac_Genero.eql? 'M' %>
              <div class="etiquetaValor">MASCULINO</div>
              <% else %>
                <div class="etiquetaValor">FEMENINO</div>
                <% end %>
          </div>
          <div class="col-md-3" style="margin-left:20px">
            <div class="etiqueta">EDAD</div>
          </div>
          <div class="col-md-4">
            <div class="etiquetaValor">
              <%=@paciente.Edad.to_s+'  AÑOS' %>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 5px">
          <div class="col-md-2" style="margin-left:20px">
            <div class="etiqueta">GRUPO SANGUINEO</div>
          </div>
          <div class="col-md-2">
            <div class="etiquetaValor">
              <%=@paciente.Pac_Grupo_Sanguineo%>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px"></div>
      </div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="form-group">
          <label for="cedula">TIPO DE CONSULTA</label>
          <select class="form-control" id="cmbTipoConsulta">
              <option value="EXTERNA">CONSULTA EXTERNA</option>
              <option value="EMERGENCIA">CONSULTA POR EMERGENCIA</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <%= link_to new_cita_path, class:"btn btn-warning pull-right" do %>
          <i class="glyphicon glyphicon-search"></i> Ver Historial
          <% end %>
            <%= link_to '#', class:"btn btn-warning pull-right", style:"margin-right:10px" do %>
              <i class="glyphicon glyphicon-pencil"></i> Editar
              <% end %>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="tabPanelConsulta">
  <li><a data-toggle="tab" href="#admision">ADMISIÓN EMERGENCIA</a></li>
  <li class="active"><a data-toggle="tab" href="#antecedentes">ANTECEDENTES</a></li>
  <li><a data-toggle="tab" href="#consulta">CONSULTA</a></li>
  <li><a data-toggle="tab" href="#planTratamiento">PLAN TRATAMIENTO</a></li>
</ul>

<div class="tab-content">
  <div id="admision" class="tab-pane fade">
    <div class="row" style="background-color: #fff8e1; margin-left: 1px; margin-right: 1px">
      <div class="col-lg-12">
        <%= render 'frmAdmisionEmergencia' %>
      </div>
    </div>    
  
  </div>
  <!-- BEGIN ANTECEDENTE-->
  <div id="antecedentes" class="tab-pane fade in active", style="background-color: #fff8e1">
    <div class="row" style="margin-top:0px;">
      <div class="row" style="margin-left:20px; margin-top:10px;">
          <% if notice %>
            <div id="notice_panel" style="width: 80%; margin:0 auto">
              <p id="notice">
                <%= notice %>
              </p>
            </div>
            <% end %>
      </div>

      <div class="col-lg-7">
        <h5>LISTADO DE ANTECEDENTES RELEVANTES</h5>
        <dl class="dl-horizontal" id="antecedente-box">
          <% @antecedentes.each do |antecedente| %>          
              <dt> <%= antecedente.Ant_tipo%></dt>
              <dd><%= antecedente.Ant_Descripcion%></dd>
          <% end %>
        </dl>
      </div>
      <div class="col-lg-5">
        <div class="panel panel-info">
          <div class="panel-heading">NUEVO ANTECEDENTE</div>
          <div class="panel-body">
              <div>
                 <%= render 'frmAntecedentes' %>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--END ANTECEDENTE-->
  
  <!-- BEGIN CONSULTA-->
  <div id="consulta" class="tab-pane fade">
    <div class="row", style="background-color: #fff8e1; margin-left: 1px; margin-right: 1px">
      <div class="col-lg-7">
      <%= render 'frmConsulta' %>  
    </div>
    <div class="col-lg-5" style="padding-top:20px; background-color: #fff8e1">
      <div id="pnlOpciones">
        <div class="row">
          <button id="btnCaracteristicasDolor" type="button" class="btn btn-warning pull-right" style="width: 350px">REGISTRAR CARACTERISTICA DEL DOLOR</button>
        </div>        
        <div class="row" style="margin-top: 10px">
          <button id="btnExamenFisico" type="button" class="btn btn-warning pull-right" style="width: 350px">REGISTRAR EXAMEN FÍSICO</button>
        </div>
        <div class="row" style="margin-top: 10px">
          <button id="btnPedidoExamen" type="button" class="btn btn-warning pull-right" style="width: 350px">REGISTRAR PEDIDO IMAGENOLOGIA</button>
        </div>
      </div>
      
      <div id="frmCaracteristicasDolor">
        <div class="panel panel-info">
          <div class="panel-heading">CARACTERISTICA DEL DOLOR</div>
          <div class="panel-body">
              <div>
                 <%= render 'frmSintomas' %>
              </div>
          </div>
        </div>        
      </div>
      <div id="frmPedidoImagenologia">
        <div class="panel panel-info">
          <div class="panel-heading">PEDIDO IMAGENOLOGIA</div>
          <div class="panel-body">
              <div>
                 <%= render 'frmPedidoExamen' %> 
              </div>
          </div>
        </div>   
               
      </div>
      <div id="frmExamenFisico">
        <div class="panel panel-info">
          <div class="panel-heading">EXAMEN FÍSICO</div>
          <div class="panel-body">
              <div>
                 <%= render 'frmExamenFisico' %>  
              </div>
          </div>
        </div>          
      </div>
    </div>
    </div>
    
      
  </div>
  <!--END CONUSLTA-->
  
  <!--END TRATAMIENTO-->
  <div id="planTratamiento" class="tab-pane fade">
    <div class="row"  style="background-color: #fff8e1; margin-left: 1px; margin-right: 1px">
      <div class="col-lg-7">
        <%= render 'frmTratamiento' %>
      </div>
        <div class="col-lg-5" style="padding-top:20px">
          <div id="pnlOpcionesTratamiento">
            <div class="row">
              <button id="btnRecetaMedica" type="button" class="btn btn-warning pull-right" style="width: 350px">REGISTRAR RECETA MÉDICA</button>
            </div>
            <div class="row" style="margin-top: 10px">
              <button id="btnTerapia" type="button" class="btn btn-warning pull-right" style="width: 350px">REGISTRAR TERAPIA</button>
            </div>
            <div class="row" style="margin-top: 10px">
              <button id="btnCirugia" type="button" class="btn btn-warning pull-right" style="width: 350px">REGISTRAR CIRUGÍA</button>
            </div>
          </div>
          <div id="frmRecetaMedica">
            <div class="panel panel-info">
              <div class="panel-heading">REGISTRAR RECETA MÉDICA</div>
              <div class="panel-body">
                  <div>
                    <%= render 'frmReceta' %> 
                  </div>
              </div>
            </div> 
          </div>
          <div id="frmTerapia">
            <div class="panel panel-info">
              <div class="panel-heading">TERAPIA</div>
              <div class="panel-body">
                  <div>
                    <%= render 'frmTerapia' %> 
                  </div>
              </div>
            </div> 
          </div>          
        </div>
    </div>
    
  </div>
  
</div>

<!--DIALOG REGISTRAR CIRUGIA -->
<div class="modal fade bd-example-modal-lg" id="modalCirugia" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 1300px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">REGISTRAR CIRUGÍA</h5>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-lg-6">
          <div class="center-block">
            <div class="calendariocirugia"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-info">
            <div class="panel-heading">PARTE OPERATORIO</div>
              <div class="panel-body fixed-panel2">
                 <%= render 'frmParteOperatorio' %>
              </div>
          </div>            
        </div>
        </div>
      </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">ACEPTAR</button>
      </div>-->
    </div>
  </div>
</div>

<!--MODAL ERROR-->

<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f44336">
        <h5 class="modal-title" id="titleError" style="color: #fff"></h5>
      </div>
      <div class="modal-body" id="bodyError">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL SUCCESS-->

<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #66bb6a">
        <h5 class="modal-title" id="titleSuccess" style="color: #fff"></h5>
      </div>
      <div class="modal-body" id="bodySuccess">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>

