<!DOCTYPE HTML>
<html>
  <head>
    <title>RECETA MÉDICA</title>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <div id="backgroud"></div>
    <div style="width: 100%; height: 630px">
        <div style="height:106px;">
            <div style="float: left; width: 70%;"><br>                
                <p id>PONCIANO ALTO CALLE MOISES LUNA ANDRADE OE-238 Y MARIANO POZO ESQ.</p>
                <p>TELÉFONOS: 2473002 - 2478381 - 2476212 - 2471633</p>
                <p>info@toaclinica.net - servicioalcliente@toaclinica.net</p>
                <p>www.clinicatoa.com</p>
            </div>
            <div style="float: left; width: 30%;" align="right">
                <%= wicked_pdf_image_tag("/img/Logo.png", :alt => "rss feed") %><br>
            </div>
        </div><hr>
        <div style="clear: both; height: 405px"><br>
            <div style="float: left; width: 70%; font-size: 18">
                Rp.
            </div>
            <div style="float: left; width: 30%; font-size: 18px" align="right">
                Quito, <%=l Time.now, :format => :long %>
            </div>
            <div><br><br>
                <table style="width: 100%">
                    <thead>
                    </thead>
                    <tbody style="font-size:18px">
                        <% @medicinas.each do |medicina| %>
                            <tr>
                                <td><%= medicina.Ins_Nombre %>  , # <%= medicina.Ins_Cantidad %></td>
                            </tr>
                        <% end %>
                    <tbody>
                </table>
            </div>
        </div>
        <div style="height: 64px">
            <div style="float: left; width: 70%; border: solid; border-color:transparent;">
            </div>
            <div style="float: left; width: 29%">
                <br><br><br><br><div>
                    <hr>
                </div>
                <div align="center">
                    DR.<%=" "+session[:persona]["Per_Apellido_Paterno"]+" "+session[:persona]["Per_Nombres"] %>
                </div>
                <br><br><br>
                <br><br><br>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 630px">
        <div style="height:106px">
            <div style="float: left; width: 70%;"><br>        
                <p id>PONCIANO ALTO CALLE MOISES LUNA ANDRADE OE-238 Y MARIANO POZO ESQ.</p>
                <p>TELÉFONOS: 2473002 - 2478381 - 2476212 - 2471633</p>
                <p>info@toaclinica.net - servicioalcliente@toaclinica.net</p>
                <p>www.clinicatoa.com</p>
            </div>
            <div style="float: left; width: 30%;" align="right">
                <%= wicked_pdf_image_tag("/img/Logo.png", :alt => "rss feed") %><br>
            </div>
        </div><hr>
        <div style="clear: both; height: 405px"><br>
            <div style="float: left; width: 70%; font-size: 18">
                Indicaciones.
            </div>
            <div style="float: left; width: 30%; font-size: 18px" align="right">
                Quito, <%=l Time.now, :format => :long %>
            </div>
            <div><br><br>
                <table>
                    <thead>
                    </thead>
                    <tbody style="font-size:18px">
                        <% @medicinas.each do |medicina| %>
                            <tr>
                                <td><%= medicina.Ins_Nombre %> : </td>
                                <td><%= medicina.Ins_Indicacion %></td>
                            </tr>
                        <% end %>
                    <tbody>
                </table>
            </div>
        </div>
        <div style="height: 64px">
            <div style="float: left; width: 70%; border: solid; border-color:transparent;">
            </div>
            <div style="float: left; width: 29%">
                <br><br><br><br>
                <div>
                    <hr>
                </div>
                <div align="center">
                    DR.<%=" "+session[:persona]["Per_Apellido_Paterno"]+" "+session[:persona]["Per_Nombres"] %>
                </div>
                <br><br><br>
                <br><br><br>
            </div>
        </div>
    </div>
  </body>
</html>