<tbody style="font-size:13px">
          <% @personas.each do |persona| %>
            <tr>
              <td>
                <%= persona.Per_Cedula %>
              </td>
              <td>
                <%= persona.Per_Apellido_Paterno + " "+ persona.Per_Apellido_Materno %>
              </td>
              <td>
                <%= persona.Per_Nombres %>
              </td>
                <% if persona.respond_to?("Rol") %>
                    <td><%= persona.Per_Telefono %></td>
                    <td><%= persona.Rol %></td>
                    <% else%>
                    <td><%= persona.Especialidad %></td>
                <% end %>
              <td>
                <div class="row">
                  <div class="col-boton">
                    <%= button_to("Ver", persona, :method => "get", style:'float:left;', class: "boton boton-verde")%>
                  </div>
                  <div class="col-boton">
                    <%= button_to("Editar", edit_persona_path(persona), :method => "get", class: "boton boton-amarillo") %>
                  </div>
                  <% if !persona.respond_to?("Rol") %>
                    <div class="col-boton">                  
                      <!--<%= button_to("Horario", new_horario_path(:med => persona.medico_id), :method => "get", class: "boton boton-azul")%>-->
                    </div>
                  <% end %>
                  <% if persona.usuario_id == nil %>
                    <div class="col-boton">           
                      <%= button_to("Crear Usuario", new_usuario_path(persona), :method => "get", class: "boton boton-azul")%>
                    </div>
                  <% end %>
                </div>                
              </td>
              <!--<td>
                <%= link_to 'Editar', edit_persona_path(persona) %>
              </td>-->
             

              
            </tr>
            <% end %>
        </tbody>