<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<div class="row" style="margin-left:20px; margin-top:10px">
  <div class=".col-xs-6">
    <%= link_to personas_path, class:"btn btn-primary pull-left" do %>
      <i class="glyphicon glyphicon-user"></i> Médicos
    <% end %>
  </div>
</div>

<div class='row' style="margin-left:20px; margin-top:10px">
  <table class="table table-striped table-hover" style="width:90%; margin:0 auto">
    <thead>
      <tr>
        <th>APELLIDOS</th>
        <th>NOMBRES</th>
        <th>DÍA</th>
        <th>HORA INICIO</th>
        <th>HORA FIN</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody style="font-size:13px">
      <% @horarios.each do |horario| %>
        <tr>
          <td><%= horario.apellidop+" "+horario.apellidom %></td>
          <td><%= horario.nombres %></td>
          <td><%= horario.Hor_Dia %></td>
          <td><%= horario.Hor_Hora_Inicio.strftime("%r") %></td>
          <td><%= horario.Hor_Hora_Fin.strftime("%r") %></td>
          <td><%= link_to 'Ver', horario %></td>
          <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
