<%= form_for(paciente , validate: true) do |f| %>
 
      <!--<div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="hclinica">N° Historia Clínica</label>
            <%= f.text_field :Pac_HC, class:'form-control', id:'hclinica',placeholder:'Historia clínica',maxlength:'8', :required => true%>
          </div>
        </div>
      </div>-->

      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="cedula">Cédula</label>
            <%= f.text_field :Pac_Cedula, class:'form-control',id:'cedula', placeholder:'Cédula', maxlength:'10' %>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="form-group">
            <label for="pasaporte">Pasaporte</label>
            <%= f.text_field :Pac_Pasaporte, class:'form-control',id:'pasaporte', placeholder:'pasaporte' %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <%= f.text_field :Pac_Telefono,class:'form-control',id:'telefono', placeholder:'Convencional/Celular', maxlength:'10' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <%= f.text_field :Pac_Apellido_Paterno, class:'form-control',id:'apellidoPaterno', placeholder:'Apellido' %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="apellidoMaterno">Apellido Materno</label>
            <%= f.text_field :Pac_Apellido_Materno, class:'form-control',id:'apellidoMaterno', placeholder:'Apellido' %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <%= f.text_field :Pac_Nombres, class:'form-control',id:'nombres', placeholder:'Nombres' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <br>
            <%= f.date_field :Pac_Fecha_Nacimiento,id:'fechaNacimiento', class:'form-control' %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="nacionalidad">Nacionalidad</label>
            <%= f.text_field :Pac_Nacionalidad,class:'form-control',id:'nacionalidad', placeholder:'Nacionalidad' %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="estadoCivil">Estado Civil</label>
            <%= f.select(:Pac_Estado_Civil, options_for_select([['Soltero', 'SOLERO'], ['Casado', 'CASADO'],['Divorciado', 'DIVORCIADO'],['Viudo', 'VIUDO'],['Unión Libre', 'UNION LIBRE']]),{prompt: "Seleccione"},{ :class => 'form-control'}) %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="instruccion">Nivel de Instrucción</label>
            <%= f.select(:Pac_Instruccion, options_for_select([['Ninguno', "NINGUNO"], ['Básica', "BASICA"],['Bachillerato', "BACHILLERATO"],['Superior', "SUPERIOR"],['Especial', "ESPECIAL"]]),{prompt: "Seleccione"},{ :class => 'form-control'}) %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="grSanguineo">Grupo Sanguineo</label>
            <%= f.select(:Pac_Grupo_Sanguineo, options_for_select([['O Negativo', "O NEGATIVO"], ['O Positivo', "O POSITIVO"], ['A Negativo', "A NEGATIVO"], ['A Positivo', "A POSITIVO"], ['B Negativo', "B NEGATIVO"], ['B Positivo', "B POSITIVO"], ['AB Negativo', "AB NEGATIVO"], ['AB Positivo', "AB POSITIVO"]]),{prompt: "Seleccione"},{ :class => 'form-control'}) %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="genero">Género</label>
            <div class="radio" style="margin-left:30px">
              <%= f.radio_button(:Pac_Genero, 'M', ) %>
              <label for="radio2"><span><span></span></span>Masculino</label>
            </div>
            <div class="radio" style="margin-left:30px">
              <%= f.radio_button(:Pac_Genero, 'F', ) %>
              <label for="radio2"><span><span></span></span>Femenino</label>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="form-group">
            <label for="ocupacion">A que se dedica</label>
            <%= f.text_field :Pac_Ocupacion,class:'form-control',id:'ocupacion', placeholder:'Ocupación' %>
          </div>
        </div>
      </div>

      <div class="row">
        <h3 style="margin-left:20px">Dirección</h3>
      </div>
      <!--FORMULARIO PARA DIRECCION DEL PACIENTE-->

      <%= f.fields_for :residencia do |o| %>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="sector">Sector</label>
              <%= o.text_field :Res_Sector,class:'form-control',id:'sector', placeholder:'Sector' %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="callePrincipal">Calle Principal</label>
              <%= o.text_field :Res_Calle_Principal,class:'form-control',id:'callePrincipal', placeholder:'Calle Principal' %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="calleSecundaria">Calle Secundaria</label>
              <%= o.text_field :Res_Calle_Secundaria,class:'form-control',id:'calleSecundaria', placeholder:'Calle Secundaria' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="ncasa">Número Casa</label>
              <%= o.text_field :Res_Numero_Casa,class:'form-control',id:'ncasa', placeholder:'Número/Nomenclatura' %>
            </div>
          </div>
          <!--COMBO PROVINCIA - CANTONES-->
          <div class="col-lg-4">
                <div class="form-group">
                  <label for="provincia">Provincia</label>
                    <%= o.collection_select :Res_Provincia, Provincia.order(:nombre), :id, :nombre, {prompt: "Seleccione"}, {class: "form-control"} %>
                </div>
          </div>
          <div class="col-lg-4">
              <div class="form-group">
                <label for="canton">Canton</label>
                <%= o.grouped_collection_select :Res_Canton, Provincia.order(:nombre), :cantones, :nombre, :id, :nombre, {prompt: "Seleccione"}, {class: "form-control"}  %>
              </div>
          </div>
        </div>
        <!-- FIN COMBO-->
        <% end %>
        
          <div class="row" style="margin-top:20px">
            <div class="col-md-3">
            </div>
          <div class="col-md-3">
            <div class="actions">
              <%= f.submit "Guardar", class:"btn btn-primary  btn-block" %>
            </div>
          </div>
          <div class="col-md-3">
            <%= link_to 'Cancelar', pacientes_path, class:"btn btn-primary center-block" %>
          </div>
          <div class="col-md-4"></div>  

        </div>

          <% end %>